version: "3.9"

services:
  backend:
    build: ./app
    env_file:
      - .env
    ports:
      - "8000:8000"
    volumes:
      - ./app:/app
    restart: unless-stopped


  frontend:
    build: ./react-app
    ports:
      - "3000:3000" 
    volumes:
      - ./react-app:/app 
      - /app/node_modules 
    restart: unless-stopped